es/a1/animals.XSD

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="animal">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="color" type="xs:string"/>
      <xs:element name="noice" type="xs:string"/>
      <xs:element name="eye" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema> 
